{% extends 'base.html.twig' %}

{% block title %}A propos de dadch&amp;co!{% endblock %}

{% block body %}
<section class="full-height-baner">
       <div class="empty-sp-lg-0 empty-sp-md-200 empty-sp-sm-200 empty-sp-xs-160"></div> 
        <div class="bg ready data-jarallax" data-jarallax="5" style="background-image:url(https://res.cloudinary.com/dadch-co-com/image/upload/v1588599239/dadch-co/service/service2_qbd7qi.jpg)"><div class="hold-layer-2"></div></div>
          <div class="main-baner vertical-align">
              <div class="container">
               <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <div class="title-style-6 type-1">
                    <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                     <span class="border-cube"><span class="t-l"></span><span class="c-l"></span><span class="b-l"></span></span>
                     <span class="sub-caption-line lg"><span class="left"></span> <span>dadch&amp;co</span> <span class="right"></span></span>
                      <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                       <h1 class="caption-1 color-1">A propos</h1>
                        <div class="empty-sp-sm-20 empty-sp-xs-10"></div>
                         <div class="simple-text size-2 color-1">
                             <p>Qui sommes-nous ? </p>
                         </div>
                         <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                     </div>  
                  </div>
               </div>  
              </div>
          </div>    
       <div class="empty-sp-lg-0 empty-sp-md-130 empty-sp-sm-200 empty-sp-xs-100"></div> 
    </section>
    <section class="section">
         <div class="empty-sp-lg-160 empty-sp-md-150 empty-sp-sm-0 empty-sp-xs-0"></div> 
          <div class="container">
                  <div class="col-lg-10 offset-lg-1 col-md-12">
                      <div class="about-item">
                         <div class="row vertical-wrap">
                             <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-no-padd wow fadeInUp">
                               <div class="image-square type-1">
                                 <div class="sq"></div>
                                 <div class="image">
                                   <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599231/dadch-co/service/1_fvjbov.png" alt="" class="img-full">
                                   
                                 </div>
                               </div> 
                               <div class="empty-sp-lg-0 empty-sp-md-100 empty-sp-sm-80 empty-sp-xs-80"></div>  
                            </div>
                            <div class="col-lg-5 offset-lg-1 col-md-12 col-sm-12 col-xs-12 col-no-padd wow fadeInUp">
                                 <div class="text">
                                    <div class="title-style-6 type-2">
                                     <span class="sub-caption-line lg"><span class="left"></span> <span>A propos</span> <span class="right"></span></span>
                                      <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                                       <h3 class="caption-3">Qui sommes nous ?</h3>
                                        <div class="empty-sp-sm-15 empty-sp-xs-15"></div>
                                        <div class="simple-text size-2 color-3 italic">
                                             <p>
                                                Dadch et Co Market Research Agency, une entité constituée en vertu des lois de la SN. DKR.2016.B.3528 et membre d’une association internationale regroupant les chercheurs du Monde entier respectant les normes et éthiques de la recherche « ESOMAR »
                                                Dadch&amp;co MR, offre un service complet de recherche et de sondage d'opinion dans les pays d'Afrique de l'Ouest. La société est gérée par une équipe de professionnels dévoués ayant une expérience de plus de 10ans au Sénégal et dans toute la sous-région ouest-africaine (Gambie, Mauritanie, Mali, Guinée Conakry - Bissau, Ghana, Kenya, Côte d'Ivoire, Burkina Faso, Bénin, Togo, Niger, Nigeria et le Congo Kinshasa). 
                                                L'expérience collective de l'équipe Dadch et Co Market Research leur permet d'adapter les techniques de recherche aux besoins de leurs nombreux clients.

                                             </p>
                                        </div>
                                         <div class="empty-sp-sm-50 empty-sp-xs-30"></div>
                                         <div class="row">
                                             <div class="empty-sp-sm-40 empty-sp-xs-30"></div>
                                         </div>
                                     </div> 
                                 </div>
                             </div>
                         </div>
                         <div class="row vertical-wrap">
                            <div class="col-lg-5 offset-lg-1 col-md-12 col-sm-12 col-xs-12 col-no-padd wow fadeInUp">
                                 <div class="text">
                                    <div class="title-style-6 type-2">
                                     <span class="sub-caption-line lg"><span class="left"></span> <span>Suite</span> <span class="right"></span></span>
                                      <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                                        <div class="empty-sp-sm-15 empty-sp-xs-15"></div>
                                        <div class="simple-text size-2 color-3 italic">
                                             <p>
                                                Les spécialités de Dadch &amp; co Market Research comprennent la recherche documentaire, le développement d’enquêtes quantitatives et qualitatives, à la fois l’approche F2F et CATI, l’analyse statistique avancée et la recherche sociale personnalisée impliquant tous les domaines de la recherche. De plus, notre professionnalisme, notre capacité d'innovation et notre facilité d'adaptation aux tendances actuelles du secteur de la recherche, nous permettent d'utiliser plusieurs outils exclusifs qui améliorent l'efficacité et de la rentabilité de nos missions. 
                                                <br><br>
                                                Aujourd’hui, nous pouvons réaliser des focus  Group via le mobile avec la plateforme WhatsApp, collecter des données via les mobile à distance sans pour autant déployer une équipe d’enquêteur sur le terrain à l’aide d’une plateforme qui peut envoyer des lots SMS sous forme de questions courtes et si besoin d’utiliser des messages vocaux. 
                                             </p>
                                        </div>
                                         <div class="empty-sp-sm-50 empty-sp-xs-30"></div>
                                         <div class="row">
                                             <div class="empty-sp-sm-40 empty-sp-xs-30"></div>
                                         </div>
                                     </div> 
                                 </div>
                            </div>
							<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-no-padd wow fadeInUp">
                               <div class="image-square type-1">
                                 <div class="sq"></div>
                                 <div class="image">
                                   <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599231/dadch-co/service/3_chwaor.jpg" alt="" class="img-full">
                                   
                                 </div>
                               </div> 
                               <div class="empty-sp-lg-0 empty-sp-md-100 empty-sp-sm-80 empty-sp-xs-80"></div>  
                            </div>
                         </div>
                      </div>
                  </div>
          </div> 
     </section>
       <section class="section overflow">
        <div class="empty-sp-lgx-130 empty-sp-lg-100 empty-sp-md-80 empty-sp-sm-80 empty-sp-xs-50"></div>
           <div class="container">
               <div class="row vertical-wrap">
                    <div class="col-lg-6 hidden-md-down wow zoomIn">
                       <div class="about-image right wow zoomIn">
                                <div class="swiper-container pagination-padd" data-autoplay="0" data-effect="slide" data-slides-per-view="1" data-loop="0" data-speed="800" data-center="0">
                                     <div class="swiper-wrapper">
                                         <div class="swiper-slide">
                                            <div class="image">
                                                <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599022/dadch-co/about/Esomar_qk8tx8.png" alt="" class="img-full img-sh">
                                            </div>
                                         </div>
                                         <div class="swiper-slide">
                                            <div class="image">
                                                <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599024/dadch-co/about/certificat-1_bxhicj.png" alt="" class="img-full img-sh">
                                            </div>
                                         </div>
                                         <div class="swiper-slide">
                                            <div class="image">
                                                <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599023/dadch-co/about/certificat2-1_qdjhps.png" alt="" class="img-full img-sh">
                                            </div>
                                         </div>
                                      </div>
                                      <div class="pagination dark pagination-type-1"></div>
                                 </div> 
                             </div>    
                   </div>
                   <div class="col-lg-6 wow zoomIn">
                      <div class="about-text">
                        <div class="title-style-4 border-style lg type-2 center">
                          <div class="title-separator"></div> 
                          <div class="empty-sp-sm-20 empty-sp-xs-20"></div>
                           <h3 class="caption-4">Affiliations : Réseaux ESOMAR</h3>
                            <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                             <div class="simple-text size-2 color-3">
                                 <p>
                                    Dadch&amp;co MR est membre Corporate au niveau de l’association ESOMAR depuis Décembre 2013.

                                    <br> Fondée en 1948, ESOMAR est une association professionnelle internationale qui rassemble 4000 membres dans 100 pays. Ces membres sont tous activement impliqués ou réellement concernée par les sciences du marketing, des études de marché et d'opinion, à un niveau international.

                                    <br> Le respect d'un Code International, conjointement édicté par ESOMAR et la Chambre de Commerce internationale, représente la garantie du haut niveau de professionnalisme de l'ensemble des membres de l'association.

                                 </p>
                             </div>
                             <div class="empty-sp-lg-50 empty-sp-md-30 empty-sp-sm-30 empty-sp-xs-30"></div>
                             <a href="https://directory.esomar.org/country151_Senegal/" class="button-style-1 btn btn-primary type-2">En savoir plus !</a>
                        </div>
                      </div>
                   </div>
               </div>
           </div>
            <div class="empty-sp-lgx-100 empty-sp-lg-100 empty-sp-md-80 empty-sp-sm-80 empty-sp-xs-70"></div>
     </section>     

{% endblock %}
  