   
    <footer class="footer-style-2">
      <div class="empty-sp-md-70 empty-sp-sm-50 empty-sp-xs-50"></div>
       <div class="container">
           <div class="row">
               <div class="col-lg-3 col-sm-6 col-xs-12">
                   <div class="footer-item">
                       <div class="logo-footer">
                          <a href="#"><img src="img/logo.png" alt=""></a>
                       </div>
                         <div class="empty-sp-sm-30 empty-sp-xs-20"></div> 
                          <ul class="footer-address">
                              <li>
                                    <p>
                                        Dadch&amp;co Market Research SASU, VDNxBourguiba Place OMVS Dakar, Sénégal – Dakar (Sénégal)
                                    </p>
                                </li>
                              <li><a href="mailto:">Email: admin@dadch-co.com</a></li>
                              <li><a href="tel:">Tel: (+221) 33 824 74 21 / 76 739 35 65</a></li>
                          </ul>
                          <div class="empty-sp-sm-10 empty-sp-xs-10"></div> 
                          <div class="folow type-1">
                            <a href="#" target="_blank"><i class="icon-facebook"></i></a>
                            <a href="#" target="_blank"><i class="icon-instagram"></i></a>
                            <a href="#" target="_blank"><i class="icon-pinterest"></i></a>
                            <a href="#" target="_blank"><i class="icon-twitter"></i></a>
                          </div>  
                   </div>
                   <div class="empty-sp-md-0 empty-sp-sm-30 empty-sp-xs-50"></div>
               </div>
               <div class="col-lg-3 col-sm-6 col-xs-12">
                   <div class="footer-item">
                       <h5 class="title caption-5">Recent news</h5>
                       <div class="empty-sp-sm-30 empty-sp-xs-20"></div>
                         <div class="recent-mini-link">
                             <a href="#" class="caption-6 color-1 lg">Donec vel est nec nulla ullamco</a>
                               <span>Sep 9, 2015</span>
                         </div>
                         <div class="recent-mini-link">
                             <a href="#" class="caption-6 color-1 lg">Ten Ways to Increase Web Traffic</a>
                               <span>Sep 9, 2015</span>
                         </div>
                         <div class="recent-mini-link">
                             <a href="#" class="caption-6 color-1 lg">Man who groves up stunning</a>
                               <span>Sep 9, 2015</span>
                         </div>
                   </div>
                   <div class="empty-sp-md-30 empty-sp-sm-30 empty-sp-xs-30"></div>
               </div> 
               <div class="col-lg-3 col-sm-6 col-xs-12">
                   <div class="footer-item">
                       <h5 class="title caption-5"></h5>
                       <div class="empty-sp-sm-30 empty-sp-xs-20"></div>
                         <div class="footer-instagram">
                             
                         </div>
                   </div>
                   <div class="empty-sp-md-0 empty-sp-sm-20 empty-sp-xs-30"></div>
               </div>
               <div class="col-lg-3 col-sm-6 col-xs-12">
                   <div class="footer-item">
                       <h5 class="title caption-5">Prendre contact</h5>
                       <div class="empty-sp-sm-20 empty-sp-xs-20"></div>
                         <form action="#" class="footer-form">
                             <div class="simple-text size-1 color-1">
                                 <p>L'assistance en ligne est disponible 24 heures sur 24, 
Prenez contact avec nous. Vous pouvez nous écrire à tout moment :</p>
                             </div>
                             <div class="empty-sp-sm-15 empty-sp-xs-15"></div>
                             <div class="input-group input-style-1 color-1 sm">
                                 <input type="text" placeholder="Votre nom..." name="name" class="form-control" required>
                             </div>
                             <div class="empty-sp-sm-20 empty-sp-xs-20"></div>
                             <div class="input-group input-style-1 color-1 sm">
                                 <input type="email" placeholder="Votre email..." name="name" class="form-control" required>
                             </div>
                             <div class="empty-sp-sm-30 empty-sp-xs-20"></div>
                             <input type="submit" value="subscribe" class="submit">
                         </form>
                   </div>
                   <div class="empty-sp-md-0 empty-sp-sm-20 empty-sp-xs-20"></div>
               </div> 
           </div>
           <div class="empty-sp-lg-50 empty-sp-md-30 empty-sp-sm-20 empty-sp-xs-10"></div>
           <div class="row">
               <div class="col-md-12">
                    <div class="copyright">
                       <span>© {{ 'now' | date('Y') }} Tous droits réservés. Développement avec <i class="icon-heart"></i> par</span>
                         <a href="#"> Hassane</a>
                    </div>
               </div>
           </div>
           <div class="empty-sp-md-50 empty-sp-md-50 empty-sp-sm-50 empty-sp-xs-20"></div>
       </div> 
   </footer>