{% include "partials/config.html.twig" %}

     <header class="header header-style-2 pos-f-t with-top-bar">
       <div class="top-header-info">
           <div class="container-custome">
              <div class="link">
                  <h6 class="caption-6">Tel.:</h6>
                    <a href="tel:">(+221) 33 824 74 21 / 76 739 35 65</a>
              </div>
              <div class="link ">
                  <h6 class="caption-6">E-mail:</h6>
                    <a href="tel:">admin@dadch-co.com</a>
              </div>
              <div class="right-desc">
                  <div class="share-link type-2 type-color-3">
                    <a href="#" target="_blank"><i class="icon-facebook"></i></a>
                    <a href="#" target="_blank"><i class="icon-instagram"></i></a>
                    <a href="#" target="_blank"><i class="icon-pinterest"></i></a>
                    <a href="#" target="_blank"><i class="icon-twitter"></i></a>
                  </div>
                  <div class="dropdown lang-list">
                      <a id="dLabel" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="caption-6 title">En</a>
                      <ul class="dropdown-menu right" aria-labelledby="dLabel">
                           <li><a href="#">Fr</a></li>
                           <li><a href="#">En</a></li>
                       </ul> 
                  </div>
              </div>
           </div> 
       </div>
       <div class="container-custome">
         <nav class="navbar" role="navigation">
			<button class="navbar-toggler pull-xs-right mobile-menu col-style-1" type="button" data-toggle="collapse" data-target="#mainNavbarCollapse">
			    <i class="vertical-align"></i>
			</button>
			<a class="navbar-brand vertical-align" href="{{ path('homepage') }}">
			  <img src="img/logo.png" alt="">  
			</a>
			  <div class="nav-list" id="mainNavbarCollapse">
				<ul class="nav navbar-nav pull-lg-right">
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('homepage') }}">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Services</a>
					</li>
					<li class="nav-item">
                        <a class="nav-link" href="#">Nos études</a>
					</li>
					<li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
					</li>
					<li class="nav-item drop-link">
                        <a class="nav-link" href="#">A propos</a>
                        <i class="icon-down-open-big icon"></i>
						  <ul class="dropdown-menu">
						      <li><a href="#">About 1</a></li>
						      <li><a href="#">About 2</a></li>
						  </ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
                  </ul>
			  </div>
	     </nav>
	   </div>   
	 </header>
