{% extends 'base.html.twig' %}

{% block title %}Nos services!{% endblock %}

{% block body %}
     <section class="full-height-baner">
       <div class="empty-sp-lg-0 empty-sp-md-200 empty-sp-sm-200 empty-sp-xs-160"></div> 
        <div class="bg ready data-jarallax" data-jarallax="5" style="background-image:url(https://res.cloudinary.com/dadch-co-com/image/upload/v1588599240/dadch-co/service/service-3_ogtg2z.jpg)"><div class="hold-layer-2"></div></div>
          <div class="main-baner vertical-align">
              <div class="container">
               <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <div class="title-style-6 type-1">
                    <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                     <span class="border-cube"><span class="t-l"></span><span class="c-l"></span><span class="b-l"></span></span>
                     <span class="sub-caption-line lg"><span class="left"></span> <span>dadch&amp;co</span> <span class="right"></span></span>
                      <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                       <h1 class="caption-1 color-1">Nos services</h1>
                        <div class="empty-sp-sm-20 empty-sp-xs-10"></div>
                         <div class="simple-text size-2 color-1">
                             <p>Que proposons-nous ?</p>
                         </div>
                         <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                     </div>  
                  </div>
               </div>  
              </div>
          </div>    
       <div class="empty-sp-lg-0 empty-sp-md-130 empty-sp-sm-200 empty-sp-xs-100"></div> 
     </section>
    <section class="section">
       <div class="empty-sp-lg-160 empty-sp-md-100 empty-sp-sm-80 empty-sp-xs-80"></div>
          <div class="container-fluid">
          <div class="title-style-1 boxed">
              <h2 class="caption-2 title">Que proposons-nous ? <span class="letter">Q</span></h2>
          </div>
          <div class="empty-sp-lg-80 empty-sp-md-80 empty-sp-sm-0 empty-sp-xs-0"></div> 
               <div class="col-lg-10 offset-lg-1 col-md-12">
                      <div class="about-item">
                         <div class="row vertical-wrap">
                             <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-no-padd wow fadeInUp">
                               <div class="image-square type-1">
                                 <div class="sq"></div>
                                 <div class="image">
                                   <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599235/dadch-co/service/item-1_exxpeq.jpg" alt="" class="img-full">
                                   <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599235/dadch-co/service/item-2_cgi8mq.jpg" alt="" class="img-full">  
                                 </div>
                               </div> 
                               <div class="empty-sp-lg-0 empty-sp-md-100 empty-sp-sm-80 empty-sp-xs-80"></div>  
                             </div>
                             <div class="col-lg-5 offset-lg-1 col-md-12 col-sm-12 col-xs-12 col-no-padd wow fadeInUp">
                                 <div class="text">
                                    <div class="title-style-6 type-2">
                                     <span class="sub-caption-line lg"><span class="left"></span> <span>Nous proposons</span> <span class="right"></span></span>
                                      <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                                        <div class="empty-sp-sm-15 empty-sp-xs-15"></div>
                                         <div class="simple-text size-2 color-3 italic">
                                             <p>
                                             Des études de marché et sondage d’opinion à nos clients entreprises et ONG (sur leurs produits et services, leurs marques, leurs consommateurs, leurs personnels…).

                                              A partir de ces études ou d’une problématique donnée et des objectifs, nous sommes en mesure de les accompagner dans l’élaboration de la stratégie marketing ; commerciale et/ou de plans d’actions.

                                              Notre particularité réside dans l’accompagnement proactif. Nous proposons à nos clients des études ponctuelles et/ou récurrentes. A partir des apprentissages de ces dernières, nous proposons des solutions basées sur la  richesse et la diversité de nos expériences.

                                             </p>
                                         </div>
                                         <div class="empty-sp-sm-50 empty-sp-xs-30"></div>
                                         <h5 class="caption-5">types solutions :</h5>
                                         <div class="empty-sp-sm-15 empty-sp-xs-15"></div>
                                         <div class="empty-sp-sm-15 empty-sp-xs-15"></div>
                                         <div class="row">
                                             <div class="col-md-6 col-sm-6 col-xs-12">
                                                  <ul class="list-img type-3">
                                                      <li><i class="icon-dot"></i><span>solutions d’études qualitatives</span></li>
                                                      <li><i class="icon-dot"></i><span>solutions d’études quantitatives</span></li>
                                                  </ul>
                                                   <div class="empty-sp-sm-0 empty-sp-xs-15"></div>
                                             </div>
                                             <div class="col-md-6 col-sm-6 col-xs-12">
                                                  <ul class="list-img type-3">
                                                      <li><i class="icon-dot"></i><span>solutions d’études qualitatives &amp; quantitatives</span></li>
                                                  </ul>
                                             </div>
                                             <div class="empty-sp-sm-40 empty-sp-xs-30"></div>
                                         </div>
                                         <a href="{{path('a_propos')}}" class="button-style-1 btn btn-primary type-2">En savoir plus !</a>
                                     </div> 
                                 </div>
                             </div>
                         </div>
                      </div>
                  </div>
          <div class="empty-sp-lgx-100 empty-sp-lg-100 empty-sp-md-80 empty-sp-sm-80 empty-sp-xs-70"></div>
     </section>
    <section class="full-height-baner bg-section-2 video-open">
    <div class="empty-sp-lg-0 empty-sp-md-80 empty-sp-sm-80 empty-sp-xs-50"></div> 
      <div class="main-baner model-style-baner vertical-align full">
       <div class="container">
       <div class="row vertical-wrap">
                  <div class="col-515 wow zoomIn">
                        <div class="title-style-1 boxed">
                         <h2 class="caption-2 title">CIM <span class="letter">C</span></h2>
                            <div class="empty-sp-md-60 empty-sp-sm-50 empty-sp-xs-50"></div> 
                               <div class="simple-text color-2 size-3">
                                   <p>
                                    Consumer insight management 
                                   </p>
                               </div>
                           <div class="empty-sp-lg-0 empty-sp-md-50 empty-sp-sm-50 empty-sp-xs-50"></div> 
                        </div>
                  </div>
                   <div class="empty-sp-sm-30 empty-sp-xs-15"></div>
         <div class="image">
          <div class="bg" style="background-image:url(https://res.cloudinary.com/dadch-co-com/image/upload/v1588599238/dadch-co/service/Image3_djhfmx.png)"></div>
         </div> 
       </div> 
      </div>        
   </section>
    <section class="section">
        <div class="section-title color-2 rotate">
           <div class="sepp"></div>
            <div class="caption-5 title">Nos solutions d’études qualitatives :</div>
        </div>
        <div class="container">
             <div class="empty-sp-lg-160 empty-sp-md-80 empty-sp-sm-70 empty-sp-xs-70"></div>
             <div class="row">
             <div class="title-style-4 text-left box-style wow zoomIn">
              <h2 class="caption-4">Nos solutions d’études qualitatives :</h2>
              <hr>
             </div>
                 <div class="col-lg-11 col-md-12 col-sm-12 col-xs-12">
                    <div class="bg-block-2 padd-custome-100">
                       <div class="empty-sp-md-70 empty-sp-sm-50 empty-sp-xs-30"></div>    
                             <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12 col-no-padd wow zoomIn">
                                <div class="simple-text size-4 color-2">
                                <h2 class="caption-5">Modèle de recherche qualitative exploratoire Ethnographique :</h2><br>
                                    <p>
                                      Permettent de comprendre ce que veulent les consommateurs, les croyances, les motivations de choix d’achat 
                                    <br><br>
                                      <ul class="list-img type-3">
                                        <li><i class="icon-dot"></i><span>Comment les consommateurs sont différents les uns des autres?</span></li>
                                        <li><i class="icon-dot"></i><span>Qu'est-ce que chaque groupe veut / a besoin? </span></li>
                                        <li><i class="icon-dot"></i><span>Quelles sont les lacunes et comment pouvons-nous combler?</span></li>
                                        <li><i class="icon-dot"></i><span>Quelles sont les règles pour savoir comment les consommateurs choisissent des services / produits / contenu?</span></li>
                                        <li><i class="icon-dot"></i><span>Quand est-ce ces règles changent et comment pouvons-nous tirer parti des possibilités offertes par ces moments?</span></li>
                                      </ul>
                                    </p>
                                </div>
                             </div>
                             <div class="empty-sp-lg-0 empty-sp-md-50 empty-sp-sm-50 empty-sp-xs-30"></div>
                             <div class="about-slider-home13 wow zoomIn">
                                <div class="swiper-container pagination-padd" data-autoplay="0" data-effect="slide" data-slides-per-view="1" data-loop="0" data-speed="800" data-center="0">
                                     <div class="swiper-wrapper">
                                         <div class="swiper-slide">
                                            <div class="image">
                                                <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599231/dadch-co/service/1_fvjbov.png" alt="" class="img-full img-sh">
                                            </div>
                                         </div>
                                         <div class="swiper-slide">
                                            <div class="image">
                                                <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599231/dadch-co/service/3_chwaor.jpg" alt="" class="img-full img-sh">
                                            </div>
                                         </div>
                                      </div>
                                      <div class="pagination dark pagination-type-1"></div>
                                 </div> 
                             </div>     
                        <div class="empty-sp-md-70 empty-sp-sm-50 empty-sp-xs-30"></div> 
                     </div> 
                 </div>
             </div>
            <div class="empty-sp-lgx-160 empty-sp-lg-100 empty-sp-md-80 empty-sp-sm-80 empty-sp-xs-70"></div>    
        </div>
        <div class="container">
             <div class="row">
                 <div class="col-lg-11 col-md-12 col-sm-12 col-xs-12">
                    <div class="bg-block-2 padd-custome-100">
                       <div class="empty-sp-md-70 empty-sp-sm-50 empty-sp-xs-30"></div>    
                             <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12 col-no-padd wow zoomIn">
                                <div class="simple-text size-4 color-2">
                                <h2 class="caption-5">Innover INTELLIGEMENT :</h2><br>
                                    <p>
                                      Choisir des idées gagnantes 
                                    <br><br>
                                      <ul class="list-img type-3">
                                        <li><i class="icon-dot"></i><span>Quelles idées ont le meilleur potentiel de succès avec le cœur de cible?</span></li>
                                        <li><i class="icon-dot"></i><span>Quelles sont les idées qui doivent être changés / à bannir? </span></li>
                                      </ul>
                                    </p><br><br>
                                    <p>
                                      Optimisation de nouveaux concepts…
                                      <br><br>
                                      <ul class="list-img type-3">
                                        <li><i class="icon-dot"></i><span>Quelles sont les caractéristiques des produits, services, et leurs niveaux d’acceptation ?</span></li>
                                        <li><i class="icon-dot"></i><span>Quel type d’offre faut il proposer? </span></li>
                                        <li><i class="icon-dot"></i><span>Quel prix faut il proposer pour booster les ventes, accroitre la consommation? </span></li>
                                        <li><i class="icon-dot"></i><span>Quelles sont les caractéristiques à peaufiner avant lancement? </span></li>
                                        <li><i class="icon-dot"></i><span>Comment devrions nous soutenir le lancement? </span></li>
                                      </ul>
                                    </p>
                                </div>
                             </div>
                             <div class="empty-sp-lg-0 empty-sp-md-50 empty-sp-sm-50 empty-sp-xs-30"></div>
                             <div class="about-slider-home13 wow zoomIn">
                                <div class="swiper-container pagination-padd" data-autoplay="0" data-effect="slide" data-slides-per-view="1" data-loop="0" data-speed="800" data-center="0">
                                     <div class="swiper-wrapper">
                                         <div class="swiper-slide">
                                            <div class="image">
                                                <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599231/dadch-co/service/4_cvksl8.png" alt="" class="img-full img-sh">
                                            </div>
                                         </div>
                                         <div class="swiper-slide">
                                            <div class="image">
                                                <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599231/dadch-co/service/6_iap0qo.png" alt="" class="img-full img-sh">
                                            </div>
                                         </div>
                                         <div class="swiper-slide">
                                            <div class="image">
                                                <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599231/dadch-co/service/7_nthffu.png" alt="" class="img-full img-sh">
                                            </div>
                                         </div>
                                      </div>
                                      <div class="pagination dark pagination-type-1"></div>
                                 </div> 
                             </div>     
                        <div class="empty-sp-md-70 empty-sp-sm-50 empty-sp-xs-30"></div> 
                     </div> 
                 </div>
             </div>
            <div class="empty-sp-lgx-80 empty-sp-lg-80 empty-sp-md-80 empty-sp-sm-80 empty-sp-xs-70"></div>    
        </div>
    </section>
    <section class="section page-style-3 color-style-7 caption-style mobile">
        <div class="section-title color-2 rotate">
           <div class="sepp"></div>
            <div class="caption-5 title">Nos solutions d’études quantitatives :</div>
        </div>
        <div class="container">
           <div class="title-style-4 text-left box-style wow zoomIn">
              <h2 class="caption-4">Nos solutions d’études quantitatives :</h2>
              <hr>
            </div>
            <hr><br>
            <div class="tab-container mobile-rel">
                <div class="col-lg-5 col-no-padd">
                   <div class="mobile-filter-wrap type-2">
                     <div class="change-text"><span>price monitoring</span><i class="icon-down-open-big"></i></div>
                        <ul class="tab-list tab-button-2 isotope-filter-list">
                           <li class="tab-link active" data-tab="index-1"><span class="">Développer un bon réseau…</span></li>
                           <li class="tab-link" data-tab="index-2"><span class="">Donner à votre produit “Un nouvelle vie”…</span></li>
                           <li class="tab-link" data-tab="index-3"><span class="title">Evaluation de la réussite du lancement…</span></li>
                        </ul>
                      </div> 
                      <div class="empty-sp-lg-0 empty-sp-md-50 empty-sp-sm-50 empty-sp-xs-30"></div> 
                    </div>
                </div>
                <div class="col-lg-7 col-no-padd">
                  <div class="tabs-item-container type-2">
                     <div class="tab-item tab-index-1 active">
                        <div class="text">
                          <div class="title-style-4">
                            <div class="empty-sp-lg-50 empty-sp-md-50 empty-sp-sm-50 empty-sp-xs-30"></div>
                            <h2 class="caption-6 sm text-left">Développer un bon réseau de distribution via le mobile</h2>
                            <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                            <div class="simple-text size-1 color-2">
                              <p>
                                Comprendre l’acte d’achat/ Achats mystères / Observation sur les PDV / Audit Comportement du consommateur Usage et Attitude 
                              </p>
                            </div>
                            <div class="empty-sp-sm-20 empty-sp-xs-20"></div>
                            <ul class="list-style-1 color-2">
                              <li><span class="list-point"></span>Quel circuit de distribution devons nous utiliser pour pénétrer le marché? </li>
                              <li><span class="list-point"></span>Comment maximiser les ventes pour les « 3 dernières périodes”? Quel outil utiliser? </li>
                              <li><span class="list-point"></span>Comment motiver les vendeurs pour accroitre les ventes?</li>
                            </ul>
                            <div class="empty-sp-lg-30 empty-sp-md-50 empty-sp-sm-50 empty-sp-xs-30"></div>
                          </div>
                        </div>
                        <div class="image-abs">
                         <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599234/dadch-co/service/Image4_yoqmq9.jpg" alt="Devlopper un bon réseau" class="img-full">
                        </div>
                      </div>
                       <div class="tab-item tab-index-2">
                        <div class="text">
                          <div class="title-style-4">
                            <div class="empty-sp-lg-50 empty-sp-md-50 empty-sp-sm-50 empty-sp-xs-30"></div>
                            <h2 class="caption-6 sm text-left">Donner à votre produit “Un nouvelle vie”…</h2>
                            <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                            <div class="simple-text size-1 color-2">
                              <p>
                                Publicité / Plan d’action
                              </p>
                            </div>
                            <div class="empty-sp-sm-20 empty-sp-xs-20"></div>
                            <ul class="list-style-1 color-2">
                              <li><span class="list-point"></span>Est ce que notre publicité a été persuasive? </li>
                              <li><span class="list-point"></span>Quel a été l’impact? Avons nous communiqué correctement sur nos offres?  Le message était il bien perçu? </li>
                              <li><span class="list-point"></span>Avec quelle version de la publicité envisagée ; doit-on procéder? </li>
                              <li><span class="list-point"></span>Quelles sont les forces et les limites de la publicité choisie? </li>
                            </ul>
                            <div class="empty-sp-lg-30 empty-sp-md-50 empty-sp-sm-50 empty-sp-xs-30"></div>
                          </div>
                        </div>
                        <div class="image-abs">
                         <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599234/dadch-co/service/Image4_yoqmq9.jpg" alt="Devlopper un bon réseau" class="img-full">
                        </div>
                      </div>
                      <div class="tab-item tab-index-3">
                        <div class="text">
                          <div class="title-style-4">
                            <div class="empty-sp-lg-50 empty-sp-md-50 empty-sp-sm-50 empty-sp-xs-30"></div>
                            <h2 class="caption-6 sm text-left">Evaluation de la réussite du lancement…</h2>
                            <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                            <div class="simple-text size-1 color-2">
                              <p>
                                Conseil au lancement / Audit des PDV / Evaluation après lancement
                              </p>
                            </div>
                            <div class="empty-sp-sm-20 empty-sp-xs-20"></div>
                            <ul class="list-style-1 color-2">
                              <li><span class="list-point"></span>Est ce que le lancement a répondu à nos attentes? </li>
                              <li><span class="list-point"></span>Si non, quelles sont les actions correctives nécessaires maintenant? </li>
                              <li><span class="list-point"></span>Quelles sont les rumeurs sur le marché ; de notre nouvelle  offre?</li>
                            </ul>
                            <div class="empty-sp-lg-30 empty-sp-md-50 empty-sp-sm-50 empty-sp-xs-30"></div>
                          </div>
                        </div>
                        <div class="image-abs">
                         <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599234/dadch-co/service/Image6_tr6lg2.png" alt="Devlopper un bon réseau" class="img-full">
                        </div>
                      </div>
                  </div>
                </div>
            </div>
    </section>
     <section class="section">
        <div class="section-title color-2 rotate">
           <div class="sepp"></div>
            <div class="caption-5 title">Nos solutions quantitatives &amp; qualitative: </div>
        </div>
        <div class="container">
             <div class="empty-sp-lg-160 empty-sp-md-80 empty-sp-sm-70 empty-sp-xs-70"></div>
             <div class="row">
                 <div class="col-lg-11 col-md-12 col-sm-12 col-xs-12">
                <div class="title-style-4 text-left box-style wow zoomIn">
                    <h2 class="caption-4">Nos solutions quantitatives &amp; qualitative : </h2>
                    <hr>
                  </div>
                    <div class="bg-block-2 padd-custome-100">
                       <div class="empty-sp-md-70 empty-sp-sm-50 empty-sp-xs-30"></div>    
                             <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12 col-no-padd wow zoomIn">
                                <div class="accordeon accordeon-style-img">
                                  <ul class="accordeon-list">
                                    <li class="accordeon-item active">
                                        <a href="#" class="accordeon-triger vertical-wrap"><i class="icon-clipboard align-item"></i><h5 class="caption-5 title align-item">Construire une marque de valeur (précieuse)…</h5><span></span></a>
                                        <div class="accordeon-inner">
                                          <div class="simple-text size-1 color-5">
                                            <p>
                                              <ul class="list-style-1 color-2">
                                                <li><span class="list-point"></span>Comment pouvons-nous construire l’image de marque ? </li>
                                                <li><span class="list-point"></span>Sur quels leviers de la marque devons nous travailler ? </li>
                                                <li><span class="list-point"></span>Quelle est la meilleure façon de faire évoluer la marque ?</li>
                                              </ul>
                                            </p>
                                          </div>
                                        </div>
                                    </li>
                                    <li class="accordeon-item">
                                        <a href="#" class="accordeon-triger vertical-wrap"><i class="icon-clipboard align-item"></i><h5 class="caption-5 title align-item"> Recruter et fidéliser les désabonnés...</h5><span></span></a>
                                        <div class="accordeon-inner">
                                          <div class="simple-text size-1 color-5">
                                            <p>
                                              Comprendre le processus du « Churn » « NPS » Audit des PDV
                                              <br>
                                              <ul class="list-style-1 color-2">
                                                <li><span class="list-point"></span>Comment évoluent nos parts de marché ? </li>
                                                <li><span class="list-point"></span>Comment pouvons-nous fidéliser les clients, les partenaires et motiver les employés ? </li>
                                                <li><span class="list-point"></span>Sommes-nous des gagnants ou des perdants selon les prospects ?</li>
                                                <li><span class="list-point"></span>Quelles sont les opportunités ? Les menaces ?</li>
                                              </ul>
                                            </p>
                                          </div>
                                        </div>
                                    </li>
                                    <li class="accordeon-item">
                                        <a href="#" class="accordeon-triger vertical-wrap"><i class="icon-clipboard align-item"></i><h5 class="caption-5 title align-item">Offrir une meilleure qualité de service…</h5><span></span></a>
                                        <div class="accordeon-inner">
                                          <div class="simple-text size-1 color-5">
                                            <p>
                                              <ul class="list-style-1 color-2">
                                                <li><span class="list-point"></span> Quelle est la qualité de mon service par rapport à la concurrence?</li>
                                              </ul>
                                            </p>
                                          </div>
                                        </div>
                                    </li>
                                    <li class="accordeon-item">
                                        <a href="#" class="accordeon-triger vertical-wrap"><i class="icon-clipboard align-item"></i><h5 class="caption-5 title align-item">Maximiser le retour sur investissement ROI…</h5><span></span></a>
                                        <div class="accordeon-inner">
                                          <div class="simple-text size-1 color-5">
                                            <p>
                                              <ul class="list-style-1 color-2">
                                                <li><span class="list-point"></span>Comment maximiser le retour sur chaque Franc investi  en Marketing? </li>
                                              </ul>
                                            </p>
                                          </div>
                                        </div>
                                    </li>
                                    <li class="accordeon-item">
                                        <a href="#" class="accordeon-triger vertical-wrap"><i class="icon-clipboard align-item"></i><h5 class="caption-5 title align-item">Maximiser au niveau du PDV…</h5><span></span></a>
                                        <div class="accordeon-inner">
                                          <div class="simple-text size-1 color-5">
                                            <p>
                                              <ul class="list-style-1 color-2">
                                                <li><span class="list-point"></span>Quelle est la qualité de service offerte aux client quand ils interagissent dans votre réseau de distribution et après avoir servi au niveau du PDV ? </li>
                                                <li><span class="list-point"></span>Comment pouvons nous l’améliorer? </li>
                                                <li><span class="list-point"></span>Qu’est ce que la concurrence fait à son PDV? </li>
                                              </ul>
                                            </p>
                                          </div>
                                        </div>
                                    </li>
                                  </ul>
                                </div>
                             </div>
                             <div class="empty-sp-lg-0 empty-sp-md-50 empty-sp-sm-50 empty-sp-xs-30"></div>
                              <div class="about-slider-home13 wow zoomIn">
                                <div class="swiper-container pagination-padd" data-autoplay="0" data-effect="slide" data-slides-per-view="1" data-loop="0" data-speed="800" data-center="0">
                                     <div class="swiper-wrapper">
                                         <div class="swiper-slide">
                                            <div class="image">
                                                <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599237/dadch-co/service/parcours_zjivlp.png" alt="" class="img-full img-sh">
                                            </div>
                                         </div>
                                         <div class="swiper-slide">
                                            <div class="image">
                                                <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599236/dadch-co/service/parcours-2_ses0dl.png" alt="" class="img-full img-sh">
                                            </div>
                                         </div>
                                         <div class="swiper-slide">
                                            <div class="image">
                                                <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599239/dadch-co/service/parcours-3_gqakvp.png" alt="" class="img-full img-sh">
                                            </div>
                                         </div>
                                      </div>
                                      <div class="pagination dark pagination-type-1"></div>
                                 </div> 
                             </div>        
                        <div class="empty-sp-md-70 empty-sp-sm-50 empty-sp-xs-30"></div> 
                     </div> 
                 </div>
             </div>
            <div class="empty-sp-lgx-160 empty-sp-lg-100 empty-sp-md-80 empty-sp-sm-80 empty-sp-xs-70"></div>    
        </div>
    </section>
{% endblock %}
