{% extends 'base.html.twig' %}

{% block title %}Nos methodologies!{% endblock %}

{% block body %}

<section class="full-height-baner">
       <div class="empty-sp-lg-0 empty-sp-md-200 empty-sp-sm-200 empty-sp-xs-160"></div> 
        <div class="bg ready data-jarallax" data-jarallax="5" style="background-image:url(https://res.cloudinary.com/dadch-co-com/image/upload/v1588599239/dadch-co/service/service-4_ipqbda.jpg)"><div class="hold-layer-2"></div></div>
          <div class="main-baner vertical-align">
              <div class="container">
               <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <div class="title-style-6 type-1">
                    <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                     <span class="border-cube"><span class="t-l"></span><span class="c-l"></span><span class="b-l"></span></span>
                     <span class="sub-caption-line lg"><span class="left"></span> <span>dadch&amp;co</span> <span class="right"></span></span>
                      <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                       <h1 class="caption-1 color-1">Nos services</h1>
                        <div class="empty-sp-sm-20 empty-sp-xs-10"></div>
                         <div class="simple-text size-2 color-1">
                             <p>Nos méthodes de collecte </p>
                         </div>
                         <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                     </div>  
                  </div>
               </div>  
              </div>
          </div>    
       <div class="empty-sp-lg-200 empty-sp-md-130 empty-sp-sm-200 empty-sp-xs-100"></div> 
    </section>
    <section class="section">
    <div class="empty-sp-sm-100 empty-sp-xs-200"></div>
         <div class="container">
           <div class="row">
               <div class="col-lg-10 offset-lg-1 col-md-12">
                  <div class="title-style-6 type-2 wow fadeInUp">
                     <span class="sub-caption-line lg"><span class="left"></span><span>Methodologies</span> <span class="right"></span></span>
                      <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                       <h3 class="caption-3">Procédure de collecte des données</h3>
                        <div class="empty-sp-sm-40 empty-sp-xs-30"></div>
                        <div class="row">
                            <div class="col-md-6">
                                 <div class="simple-text size-1 color-3">
                                    <h3 class="caption-4">Recrutement et Formation des Enquêteurs</h3>
                                    <br>
                                    <p>
                                    <br>
                                      <strong class="caption-6">Ressources humaines :</strong> +50 enquêteurs, superviseurs, contrôleurs de qualité sur le territoire national. +50 enquêteurs, contrôleurs de qualité et superviseurs dans chaque pays d’intervention dans la sous région (Bénin, Burkina Faso, Côte d’ivoire, Cameroun, Gambie, Ghana, Guinée Conakry, Kenya, Mali, Mauritanie, Niger, Nigeria, RDC, Sénégal, Togo).
                                    </p>
                                    <br>
                                    <p>
                                     <strong class="caption-6">Outils de collecte des données:</strong> Programmation du Questionnaire physique sur un serveur ensuite redirigé sur les PDA. Administration en face à face au niveau des ménages ou point de vente.
                                    </p>
                                    <br>
                                    <p>
                                      <strong class="caption-6">Logistique :</strong> Nous disposons des Android (PDA) qui peuvent être envoyés dans chaque pays de couverture pour exécuter un projet. Online (Web Internet) pour les études spécifiques sur demande du client.
                                    </p>
                                    <br>
                                    <p>
                                      <strong class="caption-6">Différentes plateformes pour le scripting :</strong> Survey to Go / Open kit data / RCS Data collection
                                    </p>
                                 </div>
                            </div>
                            <div class="col-md-6">
                                 <div class="simple-text size-1 color-3">
                                    <h3 class="caption-4">Procédure du Contrôle de Qualité</h3>
                                    <p>
                                    <br>
                                      <strong class="caption-6">Processus de QC :</strong> lancée une fois l’interview synchronisée sur notre serveur.
                                      La capture GPS nous permet de suivre chaque appareil, puis de contrôler le pas d’échantillonnage pour chaque zone d’enquête.
                                    </p>
                                    <p>
                                    <br>
                                      Avec l’heure de début et fin d’interview, nous pouvons évaluer la durée d’un entretien par cible et la performance du groupe par jour et par zone d’enquête. Les courts entretiens sont considérés comme suspects et seront revus par les contrôleurs de qualité (QC) pour s’assurer que toutes les questions sont correctement administrés.
                                    </p>
                                    <p>
                                    <br>
                                    Les enquêteurs sont formés sur les techniques d’entretien, l’identification de la zone d’enquête définie dans le plan d’échantillonnage, de la cible éligible et sur la manière de saisir les données dans les applications. Ci-dessous quelques conseils que nous utilisons pour faire le contrôle de qualité.
                                    </p>
                                    <p>
                                    <br>
                                      <ul class="list-img type-3">
                                          <li><i class="icon-dot"></i><span>S’assurer que la bonne version de l’application est bien synchronisée sur les tablettes:
                                              Après la phase pilote, il se peut que nous devons apporter quelques corrections au questionnaire ou mettre à jour la liste des zones d’enquête. Ceci nécessite de mettre à jour une nouvelle version de l’application. Toutes les interviews doivent être sur la même page pour éviter des erreurs de synchronisation.
                                              </span>
                                          </li>
                                      </ul>
                                    </p>
                                    <p>
                                    <br>
                                    <span class="caption-6">GPS TRACKING</span>
                                    <br>
                                    Une fois les enquêteurs sur le terrain, notre équipe d’analystes de données suit leur déploiement pour s’assurer qu’ils respectent le processus de sélection des répondants. Ainsi les coordonnées GPS vont permettre de contrôler le maillage de la zone d’enquête et le déplacement des enquêteurs pour s’assurer qu’ils étaient réellement sur le terrain, dans les zones d’enquête définies au plan de déploiement et surtout de vérifier le respect du pas de sondage.
                                    </p>
                                    <p>
                                    <br>
                                    <span class="caption-6">Contrôle de la cohérence des réponses</span>
                                    <br>
                                    <ul class="list-img type-3">
                                          <li><i class="icon-dot"></i><span>Suppression des formulaires qui ont un taux élevé de valeurs manquantes (plus de 30%) ;</span></li>
                                          <li><i class="icon-dot"></i><span>Contrôle des formulaires similaires (les réponses identiques) ;</span></li>
                                          <li><i class="icon-dot"></i><span>Contrôle de l’intervalle de temps entre deux interviews ;</span></li>
                                          <li><i class="icon-dot"></i><span>Suivi de l’évolution des variables caractéristiques de la population cible (Age, genre, statut matrimoniale etc…) ;</span></li>
                                          <li><i class="icon-dot"></i><span>Etc...</span></li>
                                    </ul>
                                    </p>
                                    <p>
                                    <br>
                                    <span class="caption-6">Silence record (Enregistrement muet des entretiens)</span>
                                    <br>
                                    Les silences recording viennent en appui aux outils de contrôle qualité précités. Ils permettent de lever la présomption faite sur un entretien suite à une anomalie détectée. Ils sont aussi très utiles pour s’assurer que les enquêteurs respectent le processus de sélection garantissant la qualité des données.
                                    </p>
                                 </div>
                            </div>
                        </div>
                        <div class="empty-sp-md-90 empty-sp-sm-80 empty-sp-xs-80"></div>
                     </div>
                     <div class="image-square type-2 ">    
                         <div class="sq"></div>
                         <div class="image">
                           <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599236/dadch-co/service/item-6_uojkui.jpg" alt="" class="img-full wow fadeInUp">
                           <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599235/dadch-co/service/item-3_gacrer.jpg" alt="" class="img-full wow fadeInUp">
                           <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599237/dadch-co/service/item-5_uiulgh.jpg" alt="" class="img-full wow fadeInUp">  
                         </div>
                     </div>
               </div> 
           </div>
         </div>
        <div class="empty-sp-lg-200 empty-sp-md-150 empty-sp-sm-80 empty-sp-xs-0"></div>  
    </section>
{% endblock %}