{% extends "base.html.twig" %}
{% block title %}
    Bienvenue sur le site Dadch&amp;Co
{% endblock %}
{% block body %}
<section class="full-height-baner arrow-closest">
      <div class="swiper-container" data-autoplay="0" data-effect="slide" data-slides-per-view="1" data-loop="0" data-speed="800" data-center="0">
         <div class="swiper-wrapper">
            <div class="swiper-slide">
               <div class="bg" style="background-image:url(https://res.cloudinary.com/dadch-co-com/image/upload/v1588599401/dadch-co/main_image_home32_exonhy.jpg)"><div class="hold-layer-2"></div></div>    
                 <div class="main-baner vertical-align fix-header-align">
                    <div class="empty-sp-lg-0 empty-sp-md-120 empty-sp-sm-90 empty-sp-xs-80"></div>
                     <div class="container">
                         <div class="row">
                           <div class="col-lg-12 col-md-12 offset-xs-12">
                            <div class="title-style-1 text-left">
                              <div class="empty-sp-sm-20 empty-sp-xs-20"></div>
                              <h1 class="caption-1 color-1">Dadch&amp;Co</h1>
                              <div class="empty-sp-sm-15 empty-sp-xs-15"></div>
                              <div class="simple-text size-2 color-3 italic qoute-type ">
                                <p class="">Votre partenaire pour la transformation des informations en plan d’action </p>
                              </div>
                              <div class="empty-sp-lg-50 empty-sp-md-30 empty-sp-sm-30 empty-sp-xs-30"></div>
                              <div class="folow type-5">
                                <a href="https://linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.dadch-co.com&title=Venez%20consulter%20notre%20site%20de%20web%20pour%20avoir%20plus%20information" target="_blank"><i class="icon-pinterest"></i></a>
                                <a href="https://twitter.com/share?url=http%3A%2F%2Fwww.dadch-co.com&text=Venez%20consulter%20notre%20site%20de%20web%20pour%20avoir%20plus%20information" target="_blank"><i class="icon-twitter"></i></a>
                              </div>
                              </div>
                            </div>
                         </div>
                     </div>
                    <div class="empty-sp-lg-0 empty-sp-md-100 empty-sp-sm-80 empty-sp-xs-80"></div>  
                </div>
            </div>
            <div class="swiper-slide">
               <div class="bg" style="background-image:url(https://res.cloudinary.com/dadch-co-com/image/upload/v1588599401/dadch-co/main_image_home32_exonhy.jpg)"><div class="hold-layer-2"></div></div>    
                 <div class="main-baner vertical-align fix-header-align">
                    <div class="empty-sp-lg-0 empty-sp-md-120 empty-sp-sm-90 empty-sp-xs-80"></div>
                     <div class="container">
                         <div class="row">
                             <div class="col-lg-12 col-md-12 offset-xs-12">
                              <div class="title-style-1 text-left">
                                <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599320/dadch-co/carte_ctal7b.png" alt="Carte ">
                                <h1 class="caption-4 color-1"> Profil de pays Dadch&amp;co MR : Sénégal</h1><br>
                                <div class="simple-text size-2 color-3 italic qoute-type ">
                                <div class="row">
                                  <div class="col-lg-6">
                                    <p>Base de données: 354,532: </p>
                                    <ul class="list-style-1 color-2">
                                      <li><span class="list-point"></span>% d’abonnés mobile disponible 18%</li>
                                      <li><span class="list-point"></span>Entretiens réalisés depuis 2014: 10,180,910</li>
                                      <li><span class="list-point"></span>MNO: Tigo / Orange </li>
                                    </ul>
                                  </div>
                                  <div class="col-lg-6">
                                      <p>Ventilation Démographique: </p>
                                      <ul class="list-style-1 color-2">
                                        <li><span class="list-point"></span>Homme, Femme: 65.45%, 34.55% </li>
                                        <li><span class="list-point"></span>Age 16-25: 63.27%</li>
                                        <li><span class="list-point"></span>Age 26-35, 36+: 20.9%, 15.82%</li>
                                      </ul>
                                  </div>
                                </div>
                                </div>
                      </div>
                      </div>
                      </div>
                     </div>
                </div>
            </div>
         </div>
         <div class="pagination hidden white pagination-type-1"></div>
         <div class="swiper-arrow-right swipe-arrow col-1"><i class="icon-right-open-big"></i></div>
         <div class="swiper-arrow-left swipe-arrow col-1"><i class="icon-left-open-big"></i></div>
      </div>
     </section>
    <section class="section">
        <div class="empty-sp-lgx-160 empty-sp-lg-100 empty-sp-md-0 empty-sp-sm-0 empty-sp-xs-0"></div>
        <div class="section-title color-2 rotate">
           <div class="sepp"></div>
            <div class="caption-5 title">Bienvenue sur le site de Dadch&amp;co MR</div>
        </div>
        <div class="container">
            <div class="title-style-4 text-left box-style wow zoomIn">
              <h2 class="caption-2">Qui sommes nous ?</h2>
               <div class="empty-sp-sm-15 empty-sp-xs-15"></div>
                <div class="simple-text size-2 color-2">
                    <p>
                         Dadch &amp; Co est une agence d'études de marché, qui offre un service complet
                          d'enquêtes de recherche et d'opinion dans les pays d'Afrique de l'Ouest.
                           L’agence estgérée par une équipe de professionnels dévoués ayantune expérience
                            de recherche diversifiée au Sénégal et dans toute la sous-région Ouest-Africaine 
                            (Gambie, Mauritanie, Mali, Guinée Conakry - Bissau, Ghana, Kenya, Côte d'Ivoire,
                             Burkina Faso, Bénin, Togo, Niger, Nigeria et le Congo Kinshasa).
                    </p>
                    <div class="empty-sp-sm-40 empty-sp-xs-40"></div>
                    <a href="{{path('a_propos')}}" class="btn btn-primary button-style-1 type-2">En savoir plus !</a>
                </div>
                <div class="empty-sp-lg-100 empty-sp-md-100 empty-sp-sm-100 empty-sp-xs-50"></div>
             </div>
             <div class="about-item">  
                 <div class="row vertical-wrap">
                     <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 wow zoomIn">
                       <div class="image-square type-3 no-bg">
                         <div class="sq"></div>
                         <div class="image">
                           <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599279/dadch-co/1_lixasa.png" alt="Image de page d'accueil" class="img-full img-sh">
                           <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599295/dadch-co/2_gi0qlk.jpg" alt="Image de page d'accueil" class="img-full img-sh">  
                         </div>
                       </div>
                       <div class="empty-sp-lg-0 empty-sp-md-100 empty-sp-sm-100 empty-sp-xs-0"></div>  
                     </div>
                     <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 wow zoomIn">
                         <div class="text">
                            <div class="title-style-1 text-left">
                               <h4 class="caption-4">NOS SPECIALITES </h4>
                                <div class="empty-sp-sm-20 empty-sp-xs-20"></div>
                                 <div class="simple-text size-1 color-3">
                                     <p>
                                        La spécialisation de l'Agence est née de plus de 12 ans d'expérience
                                         combinée dans la recherche et le conseil. 
                                         L'expérience collective de l'équipe Dadch&amp;Co Market Research 
                                         leur permet d'adapter les techniques de recherche aux besoins de leurs 
                                         nombreux clients.
                                         Nous offrons des services dans les domaines suivants:
                                     </p>
                                 </div>
                                 <div class="empty-sp-sm-20 empty-sp-xs-20"></div>
                                  <ul class="list-img type-3">
                                      <li><i class="icon-dot"></i><span>Enquêtes auprès des ménages et des collectivités (B2C)</span></li>
                                      <li><i class="icon-dot"></i><span>Enquêtes auprès des entreprises, institutions (B2B) </span></li>
                                      <li><i class="icon-dot"></i><span>Suivi et évaluation d'impact (Baseline et Endline Survey);</span></li>
                                      <li><i class="icon-dot"></i><span>Sondage d’opinion</span></li>
                                  </ul>
                             </div> 
                         </div>
                     </div>
                 </div>
              </div>
         </div>
         <div class="empty-sp-lgx-200 empty-sp-lg-100 empty-sp-md-80 empty-sp-sm-80 empty-sp-xs-70"></div>
    </section>
     <section class="section overflow">
        <div class="empty-sp-lgx-130 empty-sp-lg-100 empty-sp-md-80 empty-sp-sm-80 empty-sp-xs-50"></div>
           <div class="container">
               <div class="row vertical-wrap">
                   <div class="col-lg-6 wow zoomIn">
                      <div class="about-text">
                        <div class="title-style-4 border-style lg type-2 center">
                          <div class="title-separator"></div> 
                          <div class="empty-sp-sm-20 empty-sp-xs-20"></div>
                           <h3 class="caption-3">Pourquoi nous choisir ?</h3>
                            <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                             <div class="simple-text size-1 color-3">
                                 <p>Disposant des outils de nouvelles technologies permettant à Dadch&amp;co de fournir à ses clients des résultats à forte valeur ajoutée</p>
                             </div>
                             <div class="empty-sp-lg-50 empty-sp-md-30 empty-sp-sm-30 empty-sp-xs-30"></div>
                             <a href="{{path('home_service')}}" class="button-style-1 btn btn-primary type-2">En savoir plus !</a>
                        </div>
                      </div>
                   </div>
                   <div class="col-lg-6 hidden-md-down wow zoomIn">
                       <div class="about-image right">
                           <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599913/dadch-co/service_img_orbo4v.jpg" alt="">
                       </div>
                   </div>
               </div>
           </div>
            <div class="empty-sp-lgx-200 empty-sp-lg-100 empty-sp-md-80 empty-sp-sm-80 empty-sp-xs-70"></div>
     </section>     
    <section class="section">
       <div class="bg ready data-jarallax" data-jarallax="5" style="background-image:url(https://res.cloudinary.com/dadch-co-com/image/upload/v1588599236/dadch-co/service/item-4_nqznv7.jpg)"><div class="hold-layer-2"></div></div>
        <div class="empty-sp-lgx-160 empty-sp-lg-100 empty-sp-md-80 empty-sp-sm-80 empty-sp-xs-50"></div>
          <div class="container">
             <div class="title-style-4 center wow zoomIn">
               <h2 class="caption-2 color-1">Notre Equipe</h2>
                <div class="empty-sp-sm-20 empty-sp-xs-10"></div>
                <div class="title-separator"></div>
                <div class="empty-sp-sm-20 empty-sp-xs-10"></div>
                 <div class="simple-text size-2 color-1">
                     <p>Faites confiance
                        à notre équipe de
                        professionnels</p>
                 </div>
                 <div class="empty-sp-lg-80 empty-sp-md-50 empty-sp-sm-50 empty-sp-xs-50"></div>
             </div>
             <div class="row wow zoomIn">
               <div class="col-lg-10 offset-lg-1 col-md-12">
               <div class="arrow-closest offset-arrow">
                 <div class="swiper-container about-testi-slider show-point-sm" data-autoplay="0" data-effect="slide" data-slides-per-view="1" data-loop="0" data-speed="800" data-center="0">
                     <div class="swiper-wrapper">
                        <div class="swiper-slide">
                           <div class="border-block testi">
                              <div class="empty-sp-sm-50 empty-sp-xs-30"></div>
                               <div class="image">
                                  <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599260/dadch-co/team/Image3_tm3ppw.png" alt="about_team_background" class="resp-img"> 
                               </div>
                               <div class="text">
                                  <h4 class="caption-4 color-1">Yoro Diaw</h4>
                                    <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                                      <div class="sub-title italic color-1">CEO Dadch&amp;co Market Research</div>
                                      <div class="empty-sp-sm-25 empty-sp-xs-25"></div> 
                                       <div class="quote-block text-left">
                                           <blockquote class="simple-text size-1 color-1">
                                              <span>❝</span>
                                               <p>
                                                Yoro est un chercheur professionnel multilingue qui a eu à travailler
                                                 sur différentes approches et techniques de recherche « qualitative et quantitative ».
                                                &nbsp;Il a occupé différents postes de responsabilité durant ses 13 années d’expériences 
                                                 pour de prestigieuses entreprises multinationales évoluant dans l’industrie des études de marché et sondage d’opinion. 
                                               </p>
                                               <br>
                                               <span>
                                                <strong>Email: </strong> ydiaw@dadch-co.com <br> <br>
                                                <strong>Tel: </strong> +221 775262980 /767393565
                                               </span>
                                               <div class="empty-sp-sm-5 empty-sp-xs-5"></div>
                                               <span>❞</span>
                                           </blockquote>
                                           <div class="empty-sp-sm-20 empty-sp-xs-15"></div>
                                       </div>
                               </div>
                             <div class="empty-sp-sm-50 empty-sp-xs-30"></div>   
                           </div>
                        </div>
                        <div class="swiper-slide">
                           <div class="border-block testi">
                              <div class="empty-sp-sm-50 empty-sp-xs-30"></div>
                               <div class="image">
                                  <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599259/dadch-co/team/user2_onnx0n.jpg" alt="about_team_background" class="resp-img"> 
                               </div>
                               <div class="text">
                                  <h4 class="caption-4 color-1">Papa Faye</h4>
                                    <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                                      <div class="sub-title italic color-1">Responsible du traitement et de l’analyse des données</div>
                                      <div class="empty-sp-sm-25 empty-sp-xs-25"></div> 
                                       <div class="quote-block text-left">
                                           <blockquote class="simple-text size-1 color-1">
                                              <span>❝</span>
                                               <p>
                                                Avant d’occuper le poste de Gestionnaire des données au sein de Dadch&amp;co MR,
                                                 Papa a eu des experiences notoires avec d’autres entreprises. 
                                                 Il était en charge de l'analyse des données statistiques dans le cadre du projet 
                                                 d'étude des revenus des travailleurs au Sénégal pour le compte de la Paris School 
                                                 of Economics.
                                               </p>
                                               <br>
                                               <span>
                                                <strong>Email: </strong> dp-team-executive@dadch-co.com <br> <br>
                                                <strong>Tel: </strong> +221 338247421 
                                               </span>
                                               <div class="empty-sp-sm-5 empty-sp-xs-5"></div>
                                               <span>❞</span>
                                           </blockquote>
                                           <div class="empty-sp-sm-20 empty-sp-xs-15"></div>
                                       </div>
                               </div>
                             <div class="empty-sp-sm-50 empty-sp-xs-30"></div>   
                           </div>
                        </div>
                        <div class="swiper-slide">
                           <div class="border-block testi">
                              <div class="empty-sp-sm-50 empty-sp-xs-30"></div>
                               <div class="image">
                                  <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599259/dadch-co/team/Image5_cd970m.jpg" alt="about_team_background" class="resp-img"> 
                               </div>
                               <div class="text">
                                  <h4 class="caption-4 color-1">Sega THIAM </h4>
                                    <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                                      <div class="sub-title italic color-1">Responsable Administratif et financier</div>
                                      <div class="empty-sp-sm-25 empty-sp-xs-25"></div> 
                                       <div class="quote-block text-left">
                                           <blockquote class="simple-text size-1 color-1">
                                              <span>❝</span>
                                               <p>
                                                Sega THIAM est titulaire d'un Master en économie et gestion spécifiquement 
                                                en Comptabilité-Contrôle-Audit (CCA) de l'École polytechnique de Dakar. 
                                                Avant de rejoindre Dadch &amp; co, Mr en tant que Directeur Administratif et Financier, 
                                                Sega était comptable adjoint au département Finance et Admin de RTS1 (Radio &amp; Télévision Sénégalaise). 
                                                Il a également travaillé dans la société 2IRIS en tant que assistant administratif et financier.
                                               </p>
                                               <br>
                                               <span>
                                                <strong>Email: </strong> admin@dadch-co.com <br> <br>
                                                <strong>Tel: </strong> +221 338247421
                                               </span>
                                               <div class="empty-sp-sm-5 empty-sp-xs-5"></div>
                                               <span>❞</span>
                                           </blockquote>
                                           <div class="empty-sp-sm-20 empty-sp-xs-15"></div>
                                       </div>
                               </div>
                             <div class="empty-sp-sm-50 empty-sp-xs-30"></div>   
                           </div>
                        </div>
                        </div>
                     </div>
                     <div class="pagination hidden dark pagination-type-1"></div>
                 </div>
                 <div class="swiper-arrow-right swipe-arrow"><i class="icon-right-open-big"></i></div>
                 <div class="swiper-arrow-left swipe-arrow"><i class="icon-left-open-big"></i></div>
               </div>
               </div>
             </div>
          </div>
        <div class="empty-sp-lgx-160 empty-sp-lg-100 empty-sp-md-80 empty-sp-sm-80 empty-sp-xs-50"></div>
    </section>
     <section class="section">
         <div class="empty-sp-lgx-130 empty-sp-lg-100 empty-sp-md-80 empty-sp-sm-80 empty-sp-xs-50"></div>
        <div class="section-wrap">
           <div class="container">
               <div class="title-style-1 wow fadeInUp">
                   <span class="sub-title color-1">customers</span>
                     <h2 class="caption-1">Ils nous font confiance</h2>
                      <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                       <div class="simple-text italic color-2 size-2">
                           <p></p>
                       </div>
                  <div class="empty-sp-md-70 empty-sp-sm-50 empty-sp-xs-30"></div>       
               </div>
               <div class="arrow-closest offset-arrow client-home-32">
                <div class="row wow fadeInUp"> 
                   <div class="swiper-container slide-gutter-15" data-mode="horizontal" data-autoplay="0" data-effect="slide" data-slides-per-view="responsive" data-loop="0" data-speed="800" data-add-slides="6" data-lg-slides="6" data-md-slides="4" data-sm-slides="2" data-xs-slides="1">
                       <div class="swiper-wrapper">
                         <div class="swiper-slide">
                            <div class="client-item-2">
                                <div class="image">
                                 <a href="#" class="vertical-align full">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599037/dadch-co/client/bia_ikho9q.png" alt="BIA" class="hove-img">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599037/dadch-co/client/bia_ikho9q.png" alt="BIA">
                                  </a>    
                                </div>
                                <div class="sepp-line"></div>
                                <div class="empty-sp-sm-30 empty-sp-xs-30"></div>
                                <div class="title">
                                    <h5 class="caption-5">BIA</h5>
                                </div>
                            </div>
                          </div>
                            <div class="swiper-slide">
                            <div class="client-item-2">
                                <div class="image">
                                 <a href="#" class="vertical-align full">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599037/dadch-co/client/cfao-retail_v1vx5b.png" alt="cfao-retail" class="hove-img">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599037/dadch-co/client/cfao-retail_v1vx5b.png" alt="cfao-retail">
                                  </a>    
                                </div>
                                <div class="sepp-line"></div>
                                <div class="empty-sp-sm-30 empty-sp-xs-30"></div>
                                <div class="title">
                                    <h5 class="caption-5">CFAO RETAIL</h5>
                                </div>
                            </div>
                          </div>
                            <div class="swiper-slide">
                            <div class="client-item-2">
                                <div class="image">
                                 <a href="#" class="vertical-align full">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599037/dadch-co/client/cofina_ypt6il.png" alt="cofina" class="hove-img">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599037/dadch-co/client/cofina_ypt6il.png" alt="cofina">
                                  </a>    
                                </div>
                                <div class="sepp-line"></div>
                                <div class="empty-sp-sm-30 empty-sp-xs-30"></div>
                                <div class="title">
                                    <h5 class="caption-5">COFINA</h5>
                                </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="client-item-2">
                                <div class="image">
                                 <a href="#" class="vertical-align full">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599037/dadch-co/client/fao_kyttj4.png" alt="fao" class="hove-img">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599037/dadch-co/client/fao_kyttj4.png" alt="fao">
                                  </a>    
                                </div>
                                <div class="sepp-line"></div>
                                <div class="empty-sp-sm-30 empty-sp-xs-30"></div>
                                <div class="title">
                                    <h5 class="caption-5">FAO</h5>
                                </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="client-item-2">
                                <div class="image">
                                 <a href="#" class="vertical-align full">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599037/dadch-co/client/free_grxlph.png" alt="free" class="hove-img">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599037/dadch-co/client/free_grxlph.png" alt="free">
                                  </a>    
                                </div>
                                <div class="sepp-line"></div>
                                <div class="empty-sp-sm-30 empty-sp-xs-30"></div>
                                <div class="title">
                                    <h5 class="caption-5">FREE</h5>
                                </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="client-item-2">
                                <div class="image">
                                 <a href="#" class="vertical-align full">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599038/dadch-co/client/geopoll_og2tni.png" alt="geopoll" class="hove-img">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599038/dadch-co/client/geopoll_og2tni.png" alt="geopoll">
                                  </a>    
                                </div>
                                <div class="sepp-line"></div>
                                <div class="empty-sp-sm-30 empty-sp-xs-30"></div>
                                <div class="title">
                                    <h5 class="caption-5">GEOPOLL</h5>
                                </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="client-item-2">
                                <div class="image">
                                 <a href="#" class="vertical-align full">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599038/dadch-co/client/gfk_vmp3ua.png" alt="gfk" class="hove-img">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599038/dadch-co/client/gfk_vmp3ua.png" alt="gfk">
                                  </a>    
                                </div>
                                <div class="sepp-line"></div>
                                <div class="empty-sp-sm-30 empty-sp-xs-30"></div>
                                <div class="title">
                                    <h5 class="caption-5">GFK</h5>
                                </div>
                            </div>
                          </div>
                            <div class="swiper-slide">
                            <div class="client-item-2">
                                <div class="image">
                                 <a href="#" class="vertical-align full">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599038/dadch-co/client/infinite_xkz88a.png" alt="Infinite" class="hove-img">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599038/dadch-co/client/infinite_xkz88a.png" alt="Infinite">
                                  </a>    
                                </div>
                                <div class="sepp-line"></div>
                                <div class="empty-sp-sm-30 empty-sp-xs-30"></div>
                                <div class="title">
                                    <h5 class="caption-5">INFINITE</h5>
                                </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="client-item-2">
                                <div class="image">
                                 <a href="#" class="vertical-align full">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599038/dadch-co/client/MOI_opevfi.png" alt="MOI" class="hove-img">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599038/dadch-co/client/MOI_opevfi.png" alt="MOI">
                                  </a>    
                                </div>
                                <div class="sepp-line"></div>
                                <div class="empty-sp-sm-30 empty-sp-xs-30"></div>
                                <div class="title">
                                    <h5 class="caption-5">MOI</h5>
                                </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="client-item-2">
                                <div class="image">
                                  <a href="#" class="vertical-align full">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599037/dadch-co/client/callme_ngncff.png" alt="callme" class="hove-img">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599037/dadch-co/client/callme_ngncff.png" alt="callme">
                                  </a>    
                                </div>
                                <div class="sepp-line"></div>
                                <div class="empty-sp-sm-30 empty-sp-xs-30"></div>
                                <div class="title">
                                    <h5 class="caption-5">Callme</h5>
                                </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="client-item-2">
                                <div class="image">
                                 <a href="#" class="vertical-align full">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599038/dadch-co/client/oim_sjoplu.png" alt="oim" class="hove-img">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599038/dadch-co/client/oim_sjoplu.png" alt="oim">
                                  </a>    
                                </div>
                                <div class="sepp-line"></div>
                                <div class="empty-sp-sm-30 empty-sp-xs-30"></div>
                                <div class="title">
                                    <h5 class="caption-5">OIM</h5>
                                </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="client-item-2">
                                <div class="image">
                                 <a href="#" class="vertical-align full">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599038/dadch-co/client/pd_ae85gt.jpg" alt="pd" class="hove-img">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599038/dadch-co/client/pd_ae85gt.jpg" alt="pd">
                                  </a>    
                                </div>
                                <div class="sepp-line"></div>
                                <div class="empty-sp-sm-30 empty-sp-xs-30"></div>
                                <div class="title">
                                    <h5 class="caption-5">PANOPLY DIGITAL</h5>
                                </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="client-item-2">
                                <div class="image">
                                 <a href="#" class="vertical-align full">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599038/dadch-co/client/ringer_shsjzx.png" alt="ringer" class="hove-img">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599038/dadch-co/client/ringer_shsjzx.png" alt="ringer">
                                  </a>    
                                </div>
                                <div class="sepp-line"></div>
                                <div class="empty-sp-sm-30 empty-sp-xs-30"></div>
                                <div class="title">
                                    <h5 class="caption-5">RINGER</h5>
                                </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="client-item-2">
                                <div class="image">
                                 <a href="#" class="vertical-align full">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599039/dadch-co/client/sightsavers_oeg9lv.png" alt="sightsavers" class="hove-img">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599039/dadch-co/client/sightsavers_oeg9lv.png" alt="sightsavers">
                                  </a>    
                                </div>
                                <div class="sepp-line"></div>
                                <div class="empty-sp-sm-30 empty-sp-xs-30"></div>
                                <div class="title">
                                    <h5 class="caption-5">SIGHTSAVERS</h5>
                                </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="client-item-2">
                                <div class="image">
                                 <a href="#" class="vertical-align full">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599039/dadch-co/client/sorgem_icivce.png" alt="sorgem" class="hove-img">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599039/dadch-co/client/sorgem_icivce.png" alt="sorgem">
                                  </a>    
                                </div>
                                <div class="sepp-line"></div>
                                <div class="empty-sp-sm-30 empty-sp-xs-30"></div>
                                <div class="title">
                                    <h5 class="caption-5">SORGEM</h5>
                                </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="client-item-2">
                                <div class="image">
                                 <a href="#" class="vertical-align full">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599038/dadch-co/client/oedison_cuhcva.jpg" alt="oedison" class="hove-img">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599038/dadch-co/client/oedison_cuhcva.jpg" alt="oedison">
                                  </a>    
                                </div>
                                <div class="sepp-line"></div>
                                <div class="empty-sp-sm-30 empty-sp-xs-30"></div>
                                <div class="title">
                                    <h5 class="caption-5">oedison</h5>
                                </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="client-item-2">
                                <div class="image">
                                 <a href="#" class="vertical-align full">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599038/dadch-co/client/research-solutions-africa_xkwqet.png" alt="research-solutions-africa" class="hove-img">
                                    <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599038/dadch-co/client/research-solutions-africa_xkwqet.png" alt="research-solutions-africa">
                                  </a>    
                                </div>
                                <div class="sepp-line"></div>
                                <div class="empty-sp-sm-30 empty-sp-xs-30"></div>
                                <div class="title">
                                    <h5 class="caption-5">research-solutions-africa</h5>
                                </div>
                            </div>
                          </div>
                       </div>
                       <div class="pagination hidden dark pagination-type-1"></div>
                   </div>
                 </div>
                 <div class="swiper-arrow-right swipe-arrow type-1"><i class="icon-right-open-big"></i></div>
                 <div class="swiper-arrow-left swipe-arrow type-1"><i class="icon-left-open-big"></i></div>    
               </div>
            </div>
         </div>
         <div class="empty-sp-lg-160 empty-sp-md-100 empty-sp-sm-80 empty-sp-xs-70"></div>
     </section>
{% endblock %}