{% extends "base.html.twig" %}
{% block title %}
    Bienvenue sur le site Dadch&amp;Co
{% endblock %}
{% block body %}
 <section class="full-height-baner">
       <div class="bg" style="background-image:url(/img/dadch/main_image_home32.jpg)"></div> 
         <div class="main-baner vertical-align">
            <div class="empty-sp-lg-0 empty-sp-md-160 empty-sp-sm-100 empty-sp-xs-100"></div>
             <div class="container">
                 <div class="row">
                     <div class="col-lg-12 col-md-12 offset-xs-12">
                        <div class="title-style-1 text-left">
                          <img src="/img/dadch/text_title_img.png" alt="">
                          <div class="empty-sp-sm-20 empty-sp-xs-20"></div>
                           <h1 class="caption-1">Dadch&amp;Co</h1>
                            <div class="empty-sp-sm-15 empty-sp-xs-15"></div>
                             <div class="simple-text size-2 color-3 italic qoute-type ">
                                 <p class="">Votre partenaire pour la transformation des informations en plan d’action </p>
                             </div>
                             <div class="empty-sp-lg-50 empty-sp-md-30 empty-sp-sm-30 empty-sp-xs-30"></div>
                             <div class="folow type-5">
                                <a href="#" target="_blank"><i class="icon-facebook"></i></a>
                                <a href="#" target="_blank"><i class="icon-twitter"></i></a>
                                <a href="#" target="_blank"><i class="icon-pinterest"></i></a>
                                <a href="#" target="_blank"><i class="icon-instagram"></i></a>
                             </div>
                        </div>
                     </div>
                 </div>
             </div>
            <div class="empty-sp-lg-0 empty-sp-md-100 empty-sp-sm-80 empty-sp-xs-70"></div>  
        </div>
    </section>
    <section class="section">
        <div class="empty-sp-lgx-160 empty-sp-lg-100 empty-sp-md-0 empty-sp-sm-0 empty-sp-xs-0"></div>
        <div class="section-title color-2 rotate">
           <div class="sepp"></div>
            <div class="caption-5 title">Bienvenue sur le site de Dadch&amp;co MR</div>
        </div>
        <div class="container">
            <div class="title-style-4 text-left box-style wow zoomIn">
              <h2 class="caption-2">travaille &amp; passion</h2>
               <div class="empty-sp-sm-15 empty-sp-xs-15"></div>
                <div class="simple-text size-2 color-2">
                    <p>
                         Dadch &amp; Co est une agence d'études de marché, qui offre un service complet
                          d'enquêtes de recherche et d'opinion dans les pays d'Afrique de l'Ouest.
                           L’agence estgérée par une équipe de professionnels dévoués ayantune expérience
                            de recherche diversifiée au Sénégal et dans toute la sous-région Ouest-Africaine 
                            (Gambie, Mauritanie, Mali, Guinée Conakry - Bissau, Ghana, Kenya, Côte d'Ivoire,
                             Burkina Faso, Bénin, Togo, Niger, Nigeria et le Congo Kinshasa).
                    </p>
                    <div class="empty-sp-sm-40 empty-sp-xs-40"></div>
                    <a href="#" class="btn btn-primary button-style-1 type-2">En savoir plus !</a>
                </div>
                <div class="empty-sp-lg-100 empty-sp-md-100 empty-sp-sm-100 empty-sp-xs-50"></div>
             </div>
             <div class="about-item">  
                 <div class="row vertical-wrap">
                     <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 wow zoomIn">
                       <div class="image-square type-3 no-bg">
                         <div class="sq"></div>
                         <div class="image">
                           <img src="/img/dadch/1.png" alt="Image de page d'accueil" class="img-full img-sh">
                           <img src="/img/dadch/2.jpg" alt="Image de page d'accueil" class="img-full img-sh">  
                         </div>
                       </div>
                       <div class="empty-sp-lg-0 empty-sp-md-100 empty-sp-sm-100 empty-sp-xs-0"></div>  
                     </div>
                     <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 wow zoomIn">
                         <div class="text">
                            <div class="title-style-1 text-left">
                               <h4 class="caption-4">NOS ŒUVRES </h4>
                                <div class="empty-sp-sm-20 empty-sp-xs-20"></div>
                                 <div class="simple-text size-1 color-3">
                                     <p>
                                        La spécialisation de l'Agence est née de plus de 12 ans d'expérience
                                         combinée dans la recherche et le conseil. 
                                         L'expérience collective de l'équipe Dadch&amp;Co Market Research 
                                         leur permet d'adapter les techniques de recherche aux besoins de leurs 
                                         nombreux clients.
                                         Nous offrons des services dans les domaines suivants:
                                     </p>
                                 </div>
                                 <div class="empty-sp-sm-20 empty-sp-xs-20"></div>
                                  <ul class="list-img type-3">
                                      <li><i class="icon-dot"></i><span>Enquêtes auprès des ménages et des collectivités (B2C)</span></li>
                                      <li><i class="icon-dot"></i><span>Enquêtes auprès des entreprises, institutions (B2B) </span></li>
                                      <li><i class="icon-dot"></i><span>Suivi et évaluation d'impact (Baseline et Endline Survey);</span></li>
                                      <li><i class="icon-dot"></i><span>Sondage d’opinion</span></li>
                                  </ul>
                             </div> 
                         </div>
                     </div>
                 </div>
              </div>
         </div>
         <div class="empty-sp-lgx-200 empty-sp-lg-100 empty-sp-md-80 empty-sp-sm-80 empty-sp-xs-70"></div>
    </section>
     <section class="section overflow">
        <div class="empty-sp-lgx-130 empty-sp-lg-100 empty-sp-md-80 empty-sp-sm-80 empty-sp-xs-50"></div>
           <div class="container">
               <div class="row vertical-wrap">
                   <div class="col-lg-6 wow zoomIn">
                      <div class="about-text">
                        <div class="title-style-4 border-style lg type-2 center">
                          <div class="title-separator"></div> 
                          <div class="empty-sp-sm-20 empty-sp-xs-20"></div>
                           <h3 class="caption-3">Pourquoi nous choisir ?</h3>
                            <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                             <div class="simple-text size-1 color-3">
                                 <p>Disposant des outils de nouvelles technologies permettant à Dadch&amp;co de fournir à ses clients des résultats à forte valeur ajoutée</p>
                             </div>
                             <div class="empty-sp-lg-50 empty-sp-md-30 empty-sp-sm-30 empty-sp-xs-30"></div>
                             <a href="#" class="button-style-1 btn btn-primary type-2">learn more</a>
                        </div>
                      </div>
                   </div>
                   <div class="col-lg-6 hidden-md-down wow zoomIn">
                       <div class="about-image right">
                           <img src="/img/home_11/service_img.jpg" alt="">
                       </div>
                   </div>
               </div>
           </div>
     </section>     
    <section class="section">
     <div class="empty-sp-lgx-130 empty-sp-lg-100 empty-sp-md-80 empty-sp-sm-80 empty-sp-xs-50"></div>
         <div class="container">
            <div class="title-style-6 type-2 center wow fadeInUp">
             <span class="sub-caption-line sm"><span class="left"></span><span>Ensemble</span> <span class="right sm"></span></span>
              <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
               <h2 class="caption-2">notre équipe</h2>
                <div class="empty-sp-sm-20 empty-sp-xs-10"></div>
                 <div class="simple-text size-2 color-3">
                     <p>Faites confiance
                        à notre équipe de
                        professionnels
                    </p>
                 </div>
                 <div class="empty-sp-ld-50 empty-sp-md-50 empty-sp-sm-50 empty-sp-xs-30"></div>
             </div>
             <div class="row">
               <div class="swiper-container pagination-padd slide-gutter-15 show-point-sm wow fadeInUp" data-mode="horizontal" data-autoplay="0" data-effect="slide" data-slides-per-view="responsive" data-loop="0" data-speed="800" data-center="0" data-add-slides="3" data-lg-slides="3" data-md-slides="2" data-sm-slides="1" data-xs-slides="1">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="empty-sp-sm-20 empty-sp-xs-20"></div>
                       <div class="img-border-item team-item-1 border-col">
                          <div class="image">
                              <img src="img/dadch/team/image3.png" alt="Image de ">
                          </div>
                          <div class="desc">   
                            <div class="text">
                             <div class="empty-sp-sm-40 empty-sp-xs-30"></div>
                              <div class="title">
                                 <div class="caption-5">Yoro Diaw </div>
                                  <div class="empty-sp-sm-10 empty-sp-xs-10"></div> 
                                  <span class="sub-caption">CEO Dadch&amp;co Market Research </span>
                              </div>      
                              <div class="empty-sp-sm-30 empty-sp-xs-30"></div>
                              <div class="share-link type-2 type-color-4">
                                <a href="#" target="_blank"><i class="icon-facebook"></i></a>
                                <a href="#" target="_blank"><i class="icon-instagram"></i></a>
                                <a href="#" target="_blank"><i class="icon-pinterest"></i></a>
                                <a href="#" target="_blank"><i class="icon-twitter"></i></a>
                              </div> 
                            </div> 
                           </div>    
                         </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="empty-sp-sm-20 empty-sp-xs-20"></div>
                       <div class="img-border-item team-item-1  border-col">
                          <div class="image">
                              <img src="img/dadch/team/image4.png" alt="">
                          </div>
                          <div class="desc">   
                            <div class="text">
                             <div class="empty-sp-sm-40 empty-sp-xs-30"></div>
                              <div class="title">
                                 <div class="caption-5">Papa Faye</div>
                                  <div class="empty-sp-sm-10 empty-sp-xs-10"></div> 
                                  <span class="sub-caption">Responsible du traitement et de l’analyse des données. </span>
                              </div>      
                              <div class="empty-sp-sm-30 empty-sp-xs-30"></div>
                              <div class="share-link type-2 type-color-4">
                                <a href="#" target="_blank"><i class="icon-facebook"></i></a>
                                <a href="#" target="_blank"><i class="icon-instagram"></i></a>
                                <a href="#" target="_blank"><i class="icon-pinterest"></i></a>
                                <a href="#" target="_blank"><i class="icon-twitter"></i></a>
                              </div> 
                            </div> 
                           </div>    
                         </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="empty-sp-sm-20 empty-sp-xs-20"></div>
                       <div class="img-border-item team-item-1  border-col">
                          <div class="image">
                              <img src="img/dadch/team/image5.jpg" alt="">
                          </div>
                          <div class="desc">   
                            <div class="text">
                             <div class="empty-sp-sm-40 empty-sp-xs-30"></div>
                              <div class="title">
                                 <div class="caption-5">Sega THIAM</div>
                                  <div class="empty-sp-sm-10 empty-sp-xs-10"></div> 
                                  <span class="sub-caption">Responsable Administratif et financier</span>
                              </div>      
                              <div class="empty-sp-sm-30 empty-sp-xs-30"></div>
                              <div class="share-link type-2 type-color-4">
                                <a href="#" target="_blank"><i class="icon-facebook"></i></a>
                                <a href="#" target="_blank"><i class="icon-instagram"></i></a>
                                <a href="#" target="_blank"><i class="icon-pinterest"></i></a>
                                <a href="#" target="_blank"><i class="icon-twitter"></i></a>
                              </div> 
                            </div> 
                           </div>    
                         </div>
                    </div>
                  </div>
                  <div class="pagination dark pagination-type-1"></div> 
                </div>
             </div>
         </div>
     </section>
     <section class="section">
         <div class="empty-sp-lgx-130 empty-sp-lg-100 empty-sp-md-80 empty-sp-sm-80 empty-sp-xs-50"></div>
        <div class="section-wrap">
           <div class="container">
               <div class="title-style-1 wow fadeInUp">
                   <span class="sub-title color-1">customers</span>
                     <h2 class="caption-2">Ils nous font confiance</h2>
                      <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                       <div class="simple-text italic color-2 size-2">
                           <p></p>
                       </div>
                  <div class="empty-sp-md-70 empty-sp-sm-50 empty-sp-xs-30"></div>       
               </div>
               <div class="arrow-closest offset-arrow client-home-32">
                <div class="row wow fadeInUp"> 
                   <div class="swiper-container slide-gutter-15" data-mode="horizontal" data-autoplay="0" data-effect="slide" data-slides-per-view="responsive" data-loop="0" data-speed="800" data-add-slides="6" data-lg-slides="6" data-md-slides="4" data-sm-slides="2" data-xs-slides="1">
                       <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <div class="client-item-2">
                                <div class="image">
                                  <a href="#" class="vertical-align full">
                                    <img src="/img/dadch/client/callme.png" alt="callme" class="hove-img">
                                    <img src="/img/dadch/client/callme.png" alt="callme">
                                  </a>    
                                </div>
                                <div class="sepp-line"></div>
                                <div class="empty-sp-sm-30 empty-sp-xs-30"></div>
                                <div class="title">
                                    <h5 class="caption-5">Callme</h5>
                                </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="client-item-2">
                                <div class="image">
                                 <a href="#" class="vertical-align full">
                                    <img src="/img/dadch/client/MOI.png" alt="MOI" class="hove-img">
                                    <img src="/img/dadch/client/MOI.png" alt="MOI">
                                  </a>    
                                </div>
                                <div class="sepp-line"></div>
                                <div class="empty-sp-sm-30 empty-sp-xs-30"></div>
                                <div class="title">
                                    <h5 class="caption-5">MOI</h5>
                                </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="client-item-2">
                                <div class="image">
                                 <a href="#" class="vertical-align full">
                                    <img src="/img/dadch/client/oedison.jpg" alt="oedison" class="hove-img">
                                    <img src="/img/dadch/client/oedison.jpg" alt="oedison">
                                  </a>    
                                </div>
                                <div class="sepp-line"></div>
                                <div class="empty-sp-sm-30 empty-sp-xs-30"></div>
                                <div class="title">
                                    <h5 class="caption-5">oedison</h5>
                                </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="client-item-2">
                                <div class="image">
                                 <a href="#" class="vertical-align full">
                                    <img src="/img/dadch/client/research-solutions-africa.png" alt="research-solutions-africa" class="hove-img">
                                    <img src="/img/dadch/client/research-solutions-africa.png" alt="research-solutions-africa">
                                  </a>    
                                </div>
                                <div class="sepp-line"></div>
                                <div class="empty-sp-sm-30 empty-sp-xs-30"></div>
                                <div class="title">
                                    <h5 class="caption-5">research-solutions-africa</h5>
                                </div>
                            </div>
                          </div>
                       </div>
                       <div class="pagination hidden dark pagination-type-1"></div>
                   </div>
                 </div>
                 <div class="swiper-arrow-right swipe-arrow type-1"><i class="icon-right-open-big"></i></div>
                 <div class="swiper-arrow-left swipe-arrow type-1"><i class="icon-left-open-big"></i></div>    
               </div>
            </div>
         </div>
         <div class="empty-sp-lg-160 empty-sp-md-100 empty-sp-sm-80 empty-sp-xs-70"></div>
     </section>
{% endblock %}